html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

header{
    background-image: url("../img/forest.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 20px;
    margin: 0;
}

#text-with-outline{
    text-shadow:
            -1px -1px 0 #fff,
            1px -1px 0 #fff,
            -1px 1px 0 #fff,
            1px 1px 0 #fff;
}
#navi .nav-link{
    color: black;
}

.popout {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.popout-content {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popout-content h3 {
    margin-top: 0;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #555;
    background: none;
    border: none;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.footer {
    bottom: 0;
    width: 100%;
}

a.no-underline {
    text-decoration: none;
}

a.no-underline:hover {
    text-decoration: none;
}